@charset "UTF-8";

h2 {
    color: rgba(34,110,147,1);
    font-size: 20pt;
}

.btn-raised {
    display: inline-block;
    background-color: rgba(34,110,147,1); /*背景色*/
    color: #FFF; /*文字色*/
    font-size: 1em; /*文字サイズ*/
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em; /*字間*/
    padding: 0.2em 1em; /*ボタン内の余白*/
    border-radius: 3px; /*角の丸み*/
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); /*影*/
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out; /*変化を緩やかに*/
}

.btn-raised:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2); /*浮き上がるように*/
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgba(34,110,147,1); /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

    .btn-square:active {
        /*ボタンを押したとき*/
        -webkit-transform: translateY(4px);
        transform: translateY(4px); /*下に動く*/
        border-bottom: none; /*線を消す*/
    }